/* Text */

@import url('https://fonts.googleapis.com/css?family=Roboto');
.text-style {
    color: red;
    font-family: sans-serif;
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Roboto;
}


/* Logo */

#logo {
    margin: 15px;
    height: 60px;
}


/* Header */

#header-container {
    background-color: #222;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    column-count: 3;
    column-gap: 40px;
    column-span: all;
    column-width: 100px;
    line-height: 80px;
    max-height: 80px;
}

.search-box {
    color: #FFFFFF;
    font-family: Roboto;
}


/* Main */

.button {
    border: none;
    width: auto;
    display: inline-block;
    height: 20px;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    font-family: Roboto;
}

#content-container {
    margin: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url('images/ski/background.png');
    height: 100%;
}

#footer-container {
    margin: auto;
    height: 50px;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    color: #fff;
    background-color: #222;
}

#map {
    height: 100%;
}


/* Links */

a:link {
    color: blue;
}

a:hover {
    color: green;
}

a:visited {
    color: purple;
}
